*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: monospace;
}

.nav{
	position: relative;
	background-color: red;
	width: 100%;
	height: 30px;
}

.nav li{
	position: relative;
	color: white;
	display: inline-block;
	list-style-type: none;
	top: 5px;
	left: 50%;
}

.nav ul{
	word-spacing:30px ;
}

.about_coffee{
	position: relative;
	background-color: gray;
	height: auto;
	width: 100%;
}

.about_coffee h2{
	position: relative;
	top: 20px;
	left: 100px;
}

.about_coffee p{
	position: relative;
	padding: 30px;
	width: 500px;
}

.bc{
	background-color: red;
}

.carousel-container{
	width: 29%;
	margin: auto;
	overflow: hidden;
	border: 5px solid black;
}
.carousel-slide{
	display: flex;
	width: 100%;
	height: 400px;
}

#prevBtn{
	position: absolute;
	top: 90%;
	z-index: 10;
	left: 30%;
	font-size: 30px;
	color: white;
	cursor: pointer;
}
#nextBtn{
	position: absolute;
	top: 90%;
	z-index: 10;
	right: 30%;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

.about_company{
	position: relative;
	background-color: gray;
	height: auto;
	width: 100%;
}

.about_company h2{
	position: relative;
	top: 20px;
	left: 70%;
}

.about_company p{
	position: relative;
	padding: 30px;
	width: 500px;
	left: 60%;
}
.bullets{
	position: relative;
	width: 100%;
	height: 230px;
	background-color: red;
	font-size: 30px;
}
.bullets li{
	list-style-type: circle;
	word-spacing: 30px;
}
.bullets ul{
	position: relative;
	left: 5%;
	top: 30px;
}
.bullets h2{
	position: relative;
	left: 50%;
}
footer{
	position: relative;
	width: 100%;
	height: 100px;
	bottom: 0%;
	background-color: gray;
}