body{
	margin: 0px;
	padding: 0px;
	font-family: monospace;
	background-color: #654321;
	background: url(coffeebackground.png);
}


.tel{
	position: relative;
	left: 30px;
}

.call-img{
	position: absolute;
	width: 18px;
	height: 18px;
	right: 140px;
	top: -2px;
}

ul li.tel{
	margin: 0px;
	padding: 0px;
}

.search-icon{
	position: relative;
	width: 25px;
	height: auto;
	left: -2px;
}

.search-button{
	position: relative;
	width: 38px;
	height: 38px;
	left: 63%;
	top: 9px;
	border: solid 5px black;
	border-left: none;
}
	 
.red-line{
	background-color: red;
	width: 100%;
	margin-top: -16px;
	height: 50px;
}

.rl-text{
	font-size: 20px;
	position: relative;
	float: right;
	top: 5px;
	right: 30%;
}
.logo{
	position: absolute;
	top: 74px;
	left: 20px;
	background-color: transparent;
}
 
.logo img{
	height: 30px;
}

.WC{
	position: absolute;
	top: -13px;
	left: 35px;
	font-weight: bold;	
}

.navigation{
	background-color: black;
	width: 100%;
	height: 25px;
	margin-top: -13px;
};

.find{
	list-style-type: none;
}

ul.find li {
	position: relative;
	display: inline;
	float: right;
	right: 20%;
	padding: 6px;
	font-size: 15px;
}

a{
	text-decoration: none;
	color: white;
}

a:active{
	color: black;
}

a:hover{
	color: red;
}

.search{
	background-color: #654321;
	width: 100%;
	height: 60px;
}

.search-line{
	position: absolute;
	right: 37%;
	top: 69px;
	border: solid 5px black;
	height: 25px;
}

.icon{
	position: relative;
	width: 30px;
	top: 12px;
	left: 63%;
}

footer{
	position: relative;
	bottom: -15px;
	background-color: red;
	width: 100%;
	height: 50px;
}

.rl-text-bot{
	position: relative;
	font-size: 20px;
	float: right;
	right: 30%;
	bottom: 5px;
}

.table-div{
	position: relative;
	padding: 0px;
	margin: 0px;
}

.table-products img{
	position: relative;
	margin: 30px;
	height: 300px;
	width: 300px;
	border: solid 4px black;
}

.product-all{
	position: relative;
	margin: 30px;
	padding: 0px;
	bottom: 55px;
}

.button-product{
	position: relative;
	height: 30px;
	width: 35px;
	bottom: 115px;
	left: 210px;
	background: url(Cart-64.png);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	background-color: green;
}